%volkhov-bold{
    font-family: 'Volkhov', serif;
    font-weight: 700;
}
%opensans-semibold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
%poppins-semibold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
%poppins-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
%poppins-medium{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
%poppins-normal{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

%google-medium{
    font-family: 'Google Sans Medium';
    font-weight: 500;
}